# Conda environment
/env/

# Common editor clutter
.vscode/
.idea/
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# OpenAI API Key
.env
*.key

# Ignore general outputs and testing outputs but allow examples 
outputs/*
testing_outputs/*
!outputs/example_*

# Ignore temp files and logs
temp/*
logs/*

# Ignore uploaded files but allow examples
uploads/*
!example_inputs/*

# Ignore backups or swap files
*.bak
*.swp
*.swo